
.navbar-item {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: cadetblue;
    border-color: cadetblue;
    color: aquamarine;
   
}

.navbar-item::before{
    content: "";
    height: 4px;
    width: 0%;
    background-color: aquamarine;
    bottom: 0;
    left: 0;
    position: absolute;
    
    transition: all 0.2s ease-in-out;
}

.navbar-item:hover::before{
    width: 100%;
}