<header>
    <nav class="navbar">
        <div class="navbar-items">
            <button class="navbar-item" routerLink="/anagraficaUtente"> Anagrafica Utente</button>
            <button class="navbar-item" routerLink="/anagraficaDettaglio"> Anagrafica Dettaglio </button>
            <button class="navbar-item" (click)="clickElenco()"> Elenco </button>
            <button class="navbar-item" routerLink="/lista"> Lista Cibo</button>
            <button class="navbar-item" routerLink="/esercizio2910"> Esercizio 29/10</button>
        </div>
    </nav>
</header>