.navbar {
    background-color: #1b4d8b;
    border: 2px solid #ffffff;
}

.dark-mode .navbar {
    background-color: black;
}

.navbar-item {
    margin: 0 10px;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: #1b4d8b;
    color: #ffffff;
    text-align: center;
    border: none;

}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dark-mode .navbar-item {
    background-color: black;
}

.navbar-item::before {
    content: "";
    height: 4px;
    width: 0%;
    background-color: #163D6F;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.dark-mode .navbar-item::before {
    background-color: white;
}

.navbar-item:hover::before {
    width: 100%;
}

mat-form-field {
    margin: 0 10px;
}

mat-slide-toggle {
    margin: 0 10px;
}

mat-icon {
    color: #ffffff !important;
    cursor: pointer;
    margin-top: 1px;
}

.mat-slide-toggle {
    position: absolute;
    right: 500px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 17px !important;
}

.buttonGiochi {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 17px !important;
    background-color: #1b4d8b;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

::ng-deep .mdc-switch {
    margin-top: 7px !important;
}

/* Media Queries */

/* Per devices medi (tablets) */
@media (max-width: 1024px) {
    .navbar-items {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-item {
        font-size: 15px;
        padding: 8px 12px;
    }

    .buttonGiochi {
        font-size: 16px;
        padding: 8px 15px;
    }
}

/* Per grandi schermi (desktop) */
@media (min-width: 1025px) {
    .navbar {
        padding: 10px 20px;
    }

    .navbar-items {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-item {
        font-size: 17px;
        padding: 10px 15px;
    }

    .buttonGiochi {
        font-size: 17px;
        padding: 10px 20px;
    }
}