.navbar {
    background-color: #1b4d8b;
    border: 2px solid #ffffff;
}

.dark-mode .navbar {
    background-color: black;
}

.navbar-item {
    margin: 0 10px;
    font-weight: bold;
    font-size: 17px;
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
    user-select: none;
    background-color: #1b4d8b;
    color: #ffffff;
    text-align: center;
    border: none;

}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dark-mode .navbar-item {
    background-color: black;
}

.navbar-item::before {
    content: "";
    height: 4px;
    width: 0%;
    background-color: #163D6F;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all 0.2s ease-in-out;
}

.dark-mode .navbar-item::before {
    background-color: white;
}

.navbar-item:hover::before {
    width: 100%;
}

mat-form-field {
    margin: 0 10px;
}

mat-slide-toggle {
    margin: 0 10px;
}

mat-icon {
    color: #ffffff !important;
    cursor: pointer;
    margin-top: 1px;
}

.mat-slide-toggle {
    position: absolute;
    right: 500px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 17px !important;
}

.buttonGiochi {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 17px !important;
    background-color: #1b4d8b;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

::ng-deep .mdc-switch {
    margin-top: 7px !important;
}

// .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//     background-color: #1b4d8b !important;
//     padding: 10px 20px;
// }

// ::ng-deep .mat-mdc-select-arrow {
//     color: white !important;
// }

// ::ng-deep .mat-mdc-select {
//     color: white !important;
//     font-weight: bold !important;
// }

// ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//     background-color: #1b4d8b !important;
// }

// ::ng-deep .dark-mode .mdc-text-field--filled:not(.mdc-text-field--disabled) {
//     background-color: grey !important;
// }

// ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label {
//     font-weight: bold !important;
//     font-size: 17px !important;
//     padding: 15px 30px !important;
//     // color: #ffffff !important;
// }

// ::ng-deep .mat-mdc-option:focus.mdc-list-item,
// .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
//     background-color: #163D6F !important;
// }

// ::ng-deep div.mat-mdc-select-panel {
//     background-color: #1b4d8b !important;
// }

// ::ng-deep .dark-mode .mat-mdc-option.mdc-list-item {
//     background: grey !important;
// }

// ::ng-deep .dark-mode div.mat-mdc-select-panel {
//     background-color: grey !important;
// }

// ::ng-deep .mat-mdc-option.mdc-list-item {
//     background: #1b4d8b !important;
// }

// ::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
//     font-weight: bold !important;
//     font-size: 17px !important;
//     padding: 15px 30px !important;
//     color: #ffffff !important;
// }

// ::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after,
// .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-indeterminate::after {
//     color: white !important;
// }

// ::ng-deep .dark-mode div.mat-mdc-select-panel {
//     background-color: grey !important;
// }