<div [ngClass]="{'dark-mode': darkValue}">
<header>
    <nav class="navbar">
        <div class="navbar-items">
            <mat-icon class="navbar-items mt-25 ml-20" routerLink="/homePage"> home </mat-icon>
            <button class="navbar-item" routerLink="/anagraficaUtente"> Anagrafica Utente</button>
            <button class="navbar-item" (click)="clickElenco()"> Elenco </button>
            <button class="navbar-item" routerLink="/lista"> Lista Cibo</button>
            <button class="navbar-item" routerLink="/esercizio2910"> Esercizio 29/10</button>
            <button class="navbar-item" routerLink="/getAnagrafica"> Prima chiamata API </button>
            <button class="navbar-item" routerLink="/calendario"> Calendario </button>
            <!-- <button class="navbar-item" routerLink="/trisInizio"> Giochi </button> -->
             <mat-form-field>
                <mat-label>Giochi</mat-label>
                <mat-select (selectionChange)="onGameSelect($event)">
                  <mat-option value="1"> Tris </mat-option>
                  <mat-option value="2"> Memo </mat-option>
                </mat-select>
              </mat-form-field>
        <mat-slide-toggle class="toggle h-45" [checked]="isDarkMode" (change)="toggleDarkMode($event.checked)"></mat-slide-toggle>
        </div>
    </nav>
</header>
</div>