.bottoneIndietro, .filtraPari, .filtraDispari {
    margin-top: 20px;
    margin-right: 5px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #121212;
    cursor: pointer;
}

.bottoneModifica {
    margin-top: 15px;
    margin-right: 0px;
    background-color: #ffffff;
    color: #121212;
}

.bottoneCambioBody {
    margin-top: 20px;
}

