<div class="es-container" [class.dark-mode]="sharedService.toggle">
    <div>
        <div class="custom-title justify-content-between d-flex a-i-c p-20">
            <b class="custom-title f-20"> {{pageTitle}} </b>
            <button class="button-standard h-45" (click)="bottoneIndietro()">INDIETRO</button>
        </div>
        <div class="divModifica custom-color" *ngFor=" let item of approfondimentoElenco, let i = index">
            <span> id: {{item.id}} </span>
            <span *ngIf="!cambio"> body: {{item.body}}</span>
            <div>
                <!-- <input name="inputBody" matInput type="text" [formControl]="approfondimentoFC"
                    placeholder="Inserire Modifica PUT" *ngIf="isModifica">
                <mat-icon class="mt-20 pointer" (click)="cambioBody(item)" *ngIf="isModifica">
                    swap_horiz
                </mat-icon> -->
                <!-- <mat-icon matTooltip="Modifica Body" class="mt-20 pointer" (click)="modificaBody(item, i)" *ngIf="isModifica">
                    add_circle
                </mat-icon> -->
                <span>
                    <textarea class="ml-20" matInput [formControl]="bodyFC[i]" rows="1"></textarea>
                    <mat-icon class="ml-20 pointer" matTooltip="Salva Modifiche" (click)="cambioTextarea(item, i)"> expand_circle_down </mat-icon>
                </span>
            </div>
        </div>
    </div>

    <!-- BOTTONI PER FILTRARE UNA LISTA -->
    <button class="button-standard mt-20 mr-5" (click)="bottoneFiltraPari()">Filtra per pari</button>
    <button class="button-standard mt-20 mr-5" (click)="bottoneFiltraDispari()">Filtra per dispari</button>
    <button class="button-standard mt-20 mr-5" (click)="resetDettaglio()">Reset dettaglio</button>
</div>