.tab-anagrafica {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .dark-mode div:first-child {
    background-color: black;
  }

  .es-container {
    background-color: white;
}
  