<!-- <div [ngClass]="{'dark-mode': isDarkMode}">
    <app-header [isDarkMode]="isDarkMode" (darkModeToggle)="toggleDarkMode($event)"></app-header>  -->

    <div class="es-container" [class.dark-mode]="sharedService.toggle">
    <div class="tab-anagrafica custom-dettaglio custom-color mt-20">
        <span class="mb-10">
            id: {{anagraficaOggetto?.id}}
        </span>
        <span class="mb-10">
            body: {{anagraficaOggetto?.body}}
        </span>
        <span class="mb-10">
            title: {{anagraficaOggetto?.title}}
        </span>
        <span>
            userId: {{anagraficaOggetto?.userId}}
        </span>
    </div>
    </div>

<!-- </div> -->

