<div class="es-container">
<div class="custom-dettaglio d-flex flex-direction-column custom-color">
    <span>User Id: {{sharedService.getAttUtilObj('dati')?.userId}}</span>
    <span>Id: {{sharedService.getAttUtilObj('dati')?.id}}</span>
    <span>Title: {{sharedService.getAttUtilObj('dati')?.title}}</span>
    <span>Body: {{sharedService.getAttUtilObj('dati')?.body}}</span>
    <div>
        <div class="justify-content-between d-flex a-i-c p-20">
    <p>Modifica sfondo righe dispari:</p>
<mat-slide-toggle [formControl]="valoreFC"></mat-slide-toggle>
</div>
    </div>
</div>
</div>