<div class="es-container" [class.dark-mode]="sharedService.toggle">
    <div *ngIf="!vincitore">
        <h4 class="custom-title"> {{ giocatore }} può eseguire la sua mossa </h4>
    </div>
    <div *ngIf="vincitore">
        <h4 class="custom-title"> {{ vincitore === 'Pareggio' ? 'Pareggio!' : vincitore + ' ha vinto!' }} </h4>
    </div>
    <div class="griglia">
        <div class="cella pointer" *ngFor="let cella of griglia; let i = index" (click)="gioco(i)">
            {{ cella }}
        </div>
    </div>
        <!-- <p class="custom-color custom-title" *ngIf="vincitore"> {{ vincitore }} HA VINTO </p>
<p class="custom-color custom-title" *ngIf="!vincitore && !griglia.includes('')"> PAREGGIO </p> -->
</div>