// Creare una griglia:
  // grid-container = griglia
  // grid = cella

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .es-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin: 20px auto;
}

.cella {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center; 
    justify-content: center;
    border: 1px solid white;
    font-size: 50px;
    background-color: #1b4d8b;
    color: white;
}

.dark-mode .cella {
    background-color: black;  
}

input {
    width: 200px;
    height: 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #1b4d8b;
}

.dark-mode div {
    background-color: black;
}
