// Creare una griglia:
  // grid-container = griglia
  // grid = cella

  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .es-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin: 20px auto;
}

// CSS
// La funzione repeat() è un modo semplice per creare griglie ripetitive. 
// Permette di definire un numero di colonne o righe identiche in un'unica dichiarazione, 
// il primo numero indica quante volte vuoi ripetere l'elemento, il seconso specifica la larghezza 
// o altezza di ogni riga o colonna, si può usare fr per dividere lo spazio disponibile in modo che 
// le colonne avranno la lunghezza uguale

.cella {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center; 
    justify-content: center;
    border: 1px solid white;
    font-size: 50px;
    background-color: #1b4d8b;
    color: white;
}

.dark-mode .cella {
    background-color: black;  
}

input {
    width: 200px;
    height: 15px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #1b4d8b;
}

.dark-mode div {
    background-color: black;
}

button {
    color: #ffffff;
    font-weight: bold;
    padding: 12px 22px;
    margin-top: 20px;
    background-color: #1b4d8b;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.dark-mode button {
    background-color: black !important;
    color: white !important;
    border: 1px solid #ffffff !important;
}

button:disabled {
    background-color: #b4b2b2 !important;
}

.dark-mode button:disabled {
    background-color: #b4b2b2 !important;
}

button:hover {
    background-color: #163D6F;
}

 .mat-icon {
    height: 99px !important;
    width: 98px !important;
    overflow: visible !important;
}

.material-icons {
    font-size: 100px !important;
}

.icone-vincenti {
    color: #FFFF00;
}

.es-container {
    background-color: white;
}

/* Media Queries */

/* Tablets */
@media (max-width: 1024px) {
    .es-container {
        padding: 15px;
    }

    .griglia {
        grid-template-columns: repeat(3, 1fr); 
    }

    .cella {
        width: 90px;
        height: 90px;
        font-size: 45px; 
    }

    input {
        width: 85%;
        font-size: 15px;
    }

    button {
        font-size: 17px;
        padding: 18px 30px;
        width: auto;
    }

    .mat-icon {
        height: 90px !important;
        width: 90px !important;
    }

    .material-icons {
        font-size: 90px !important;
    }
}

/* Desktop */
@media (min-width: 1025px) {
    .es-container {
        padding: 20px;
    }

    .griglia {
        grid-template-columns: repeat(3, 100px); 
    }

    .cella {
        width: 100px;
        height: 100px;
        font-size: 50px; 
    }

    input {
        width: 200px;
        font-size: 16px;
        padding: 6px;
    }

    button {
        font-size: 16px;
        padding: 20px 35px;
    }

    .mat-icon {
        height: 99px !important;
        width: 98px !important;
    }

    .material-icons {
        font-size: 100px !important;
    }
}