<div class="es-container" [class.dark-mode]="sharedService.toggle">
    <div class="destra">
    <div class="griglia">
        <div class="cella pointer" *ngFor="let cella of griglia; let i = index" (click)="clickGioco(i)">
            <div class="card-container">
                <!-- Fronte della carta (immagine) -->
                <div *ngIf="griglia[i].flipped" class="card-front">
                    <img [src]="cella.image">
                </div>
                <!-- Retro della carta (copertura blu) -->
                <div *ngIf="!griglia[i].flipped" class="card-back"></div>
            </div>
        </div>
    </div>
    <p>Coppie trovate: {{ coppieTrovate }}/8</p>
    <button class="nuovoGiocatoreButton" routerLink="/memoGiocatore">Nuovo giocatore</button>
    </div>
    <div class="sinistra ml-290">
    <div class="classifica"></div>
    <h5 class="custom-title">CLASSIFICA</h5>
    <table class="custom-table">
        <thead>
            <tr>
                <th> Posizione </th>
                <th> Nome </th>
                <th> Tempo </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let item of classifica, let i = index">
                <td> {{ i + 1 }} </td>
                <td> {{ item.nome }}</td>
                <td> {{ item.time }} </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>