::ng-deep .selectList {
    background-color:#efedf0 !important;
    width: 30% !important;
}

.es-container {
    height: 100%;
}

.dark-mode .mat-mdc-select {
 color: black !important;
}

.es-container {
    background-color: white;
}
