<h6>SELEZIONA IL TUO CIBO PREFERITO</h6>

<mat-select class="selectList" placeholder="Seleziona Cibo Preferito" [formControl]="cibiFC" name="food">
    <mat-option *ngFor="let cibo of listaCibi" [value]="cibo.value">
        {{ cibo.viewValue }}
      </mat-option>
</mat-select>

<!-- <h3>Ricetta: {{ ricettaNuova}}</h3> -->

<button class="mostraRicetta" (click)="mostraRicetta(cibiFC.value)" [disabled]="!cibiFC.value">Mostra ricetta</button>


<div class="bottoni">
    <button class="bottoneAggiungi pointer" (click)="aggiungiElemento()">Aggiungi elemento</button>
    <button class="bottoneElimina pointer" (click)="eliminaElemento()">Elimina elemento</button>
</div>


<app-prova-evento [pippo]="true" (testevento)="testevento($event)"></app-prova-evento>

