.selectList {
    background-color: rgb(207, 206, 206);
    width: 30%;
}

.bottoneAggiungi, .bottoneElimina {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #121212;
    margin-right: 5px;
}

.bottoni {
    position: absolute;
    bottom: 20px;
    right: 20px;
}