.inizioBottoni{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   border: 2px solid white;
   padding: 185px 15px;
   width: 100%;
   margin-left: 20px;
}

.es-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.foto {
    max-width: 80%;
    min-height: 100%;
}

h3 {
    color: #ffffff;
    font-weight: bold;
    align-items: center; 
}

button {
    color: #ffffff;
    font-weight: bold;
    padding: 15px 30px;
    background-color: #1b4d8b;
    // border: 2px solid white;
    // border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.dark-mode .es-container {
    background-color: black;
}

.bottone1 {
    border: 2px solid white;
}

.bottone2 {
    border: 2px solid white;
}
