<!-- <div [ngClass]="{'dark-mode': isDarkMode}">
  <app-header [isDarkMode]="isDarkMode" (darkModeToggle)="toggleDarkMode($event)"></app-header> -->
<div class="calendario es-container mt-20">
<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selectedData" [minDate]="minDate" [dateClass]="dateClass"></mat-calendar>
  </mat-card>
  <div class="mt-20">
  <p>Data selezionata: {{ selectedData | date: 'dd/MM/yyyy'}}</p>
  </div>
</div>
<!-- </div> -->


<!-- minDate mostrerà il calendario con le date precedenti disabilitate -->