.custum-textarea {
    padding: 20px;
}

.salvaBottone {
    position: fixed;
    right: 30px;
}

.dark-mode body:first-child {
    height: 100%;
}

.dark-mode .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: grey !important;
}

