<div class="es-container" [class.dark-mode]="sharedService.toggle">
  <div *ngIf="!isFromLista">
    <div class="custom-title justify-content-between d-flex a-i-c p-20">
      <h4 class="custom-title">{{ 'Ricetta: ' + pageTitle }}</h4>
      <button class="button-standard h-45" (click)="bottoneIndietro()">INDIETRO</button>
    </div>
    <div class="d-flex flex-direction-column">
      <mat-form-field class="custum-textarea">
        <textarea matInput [formControl]="ricettaFC" rows="5"></textarea>
      </mat-form-field>
    </div>

    <button class="button-standard mr-5 salvaBottone" (click)="onSalvaRicetta()"> Salva Ricetta</button>
  </div>
</div>