<div class="es-container">
<div *ngIf="!isFromLista">
  <h4 class="custom-title">{{ 'Ricetta: ' + pageTitle }}</h4>
  <span class="mt-5" *ngIf="valoreRicetta">{{valoreRicetta}}</span>
  <div class="d-flex flex-direction-column">
    <mat-form-field class="custum-textarea">
      <textarea matInput placeholder="Modifica ricetta" [formControl]="ricettaFC"></textarea>
    </mat-form-field>
  </div>

  <button class="button-standard mr-5 pointer salvaBottone" (click)="onSalvaRicetta()"> Salva Ricetta</button>
</div>
</div>