<!-- <div [ngClass]="{'dark-mode': isDarkMode}">
    <app-header [isDarkMode]="isDarkMode" (darkModeToggle)="toggleDarkMode($event)"></app-header>  -->
<div class="es-container" [class.dark-mode]="sharedService.toggle">
<div class="custom-color custom-dettaglio-elenco mb-10 mt-10" *ngFor="let post of posts, let i = index">
    <span class="mb-10">
        id: {{post.id}}
    </span>
    <span class="mb-10">
        title: {{post.title}}
    </span>
    <mat-icon  matTooltip="Dettaglio Approfondimento" class="mt-15 pointer" (click)="VisApprofondimento(i+1)">
        search
    </mat-icon>
    <mat-icon  matTooltip="Modifica Approfondimento" class="mt-15 pointer" (click)="EditApprofondimento(i+1)">
        edit
    </mat-icon>
</div>
</div>
<!-- </div> -->