.esercizio-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid black;
    padding: 10px;
    min-width: 50%;

}

.esercizio-td,
.esercizio-th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.dettaglio {
    margin-left: 21px;
}

.bottoneInserisciRiga {
    margin-top: 10px;
    margin-left: 811px;
    padding: 20px 10px;
    background-color: #ffffff;
    color: black;
    cursor: pointer; 
}
