.cambioColoreRigheDispari {
    background-color: hsl(86, 94%, 50%);
  }

  .radio {
    position: fixed;
    left: 55%;
    bottom: 20%;
    border: 1px solid #1b4d8b;
    text-align: center;
  }

  p {
    padding: 10px;
    background-color: #1b4d8b;
    color: white;
  }

  .cambioColoreChip {
    color: #1b4d8b;
    background-color: white;
  }

  