<app-header></app-header>
<div class="es-container">
    <div class="custom-title justify-content-between d-flex a-i-c p-20">
        <h6 class="custom-title mt-20">ESERCIZIO 29/10</h6>
    </div>
    <div class="w-50 justify-content-center">
        <p class="custom-color">Filtra per UserId:</p>
        <mat-chip class="mr-5 mb-10 mt-10 pointer" *ngFor="let userId of chips; let i = index"
            [ngClass]="{'active': i === chipIndex}" (click)="onClickChip(userId, i)">{{userId}}</mat-chip>
        <mat-chip class="mr-5 mb-10 mt-10 ml-200 pointer" *ngIf="showTabellaFiltrata" [ngClass]="{'active': isActive}"
            (click)="showTabellaCompleta()">RIPRISTINA</mat-chip>
    </div>

    <div *ngIf="!showTabellaFiltrata">
        <ng-container *ngTemplateOutlet="tabellaCompleta"></ng-container>
    </div>

    <div *ngIf="showTabellaFiltrata">
        <ng-container *ngTemplateOutlet="tabellaFiltrata"></ng-container>
    </div>

    <ng-template #tabellaCompleta>
        <div class="d-flex">
            <table class="custom-table w-50 min-w-50">
                <thead>
                    <tr>
                        <th>
                            <mat-checkbox class="example-margin" (change)="checkedAll($event)" [checked]="checked()"
                                [indeterminate]="someChecked()">
                            </mat-checkbox>
                        </th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>User Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of data; let i = index">
                        <tr>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <mat-checkbox [formControl]="checkboxFC[i]" [checked]="item.selected"
                                    (change)="checkedRow($event)" (ngModelChange)="checked()"
                                    [(ngModel)]="item.selected">
                                </mat-checkbox>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }"> {{item.id}} </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <ng-container *ngIf="onChangeRighe && item.selected; else mostraRigaTitle">
                                    <input type="text" [formControl]="titleFC[i]">
                                </ng-container>
                                <ng-template #mostraRigaTitle>
                                    {{ item.title }}
                                </ng-template>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <ng-container *ngIf="onChangeRighe && item.selected; else mostraRigaBody">
                                    <input type="text" [formControl]="bodyFC[i]">
                                </ng-container>
                                <ng-template #mostraRigaBody>
                                    {{ item.body }}
                                </ng-template>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }"> {{item.userId}} </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <mat-icon *ngIf="!onChangeRighe" matTooltip="Chiudi dettaglio" class="pointer" (click)="onOpenDettaglio(item)">
                                    search
                                </mat-icon>
                                <mat-icon *ngIf="!onChangeRighe" matTooltip="Chiudi dettaglio" class="pointer" (click)="chiudiDettaglio()">
                                    close
                                </mat-icon>
                                <span class="material-icons pointer" matTooltip="Salva modifiche" *ngIf="item.selected && onChangeRighe" (click)="onSaveRiga(item, i)"> arrow_forward </span>
                            </td>
                        </tr>
                        <div *ngIf="someChecked()" class="radio custom-color">
                            <mat-radio-group aria-label="Select an option">
                                <p>Vuoi modificare la riga selezionata?</p>
                                <mat-radio-button (change)="modificaRiga(true, i)" value="Si">Si</mat-radio-button>
                                <mat-radio-button (change)="modificaRiga(false, i)" value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </ng-container>
                </tbody>
            </table>
            <div class="ml-20" *ngIf="showDettaglio">
                <app-dettaglio2910 (cambioValoreToggle)="cambioValoreToggle($event)"></app-dettaglio2910>
            </div>
        </div>
        <button class="button-standard mt-10 ml-562 button-f-bottom-right h-45" mat-button
            (click)="invioBtn()">Invia</button>
    </ng-template>

    <ng-template #tabellaFiltrata>
        <div class="d-flex">
            <table class="custom-table w-50 min-w-50">
                <thead>
                    <tr>
                        <th>
                            <mat-checkbox class="example-margin" (change)="checkedAll($event)" [checked]="checked()"
                                [indeterminate]="someChecked()">
                            </mat-checkbox>
                        </th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>User Id</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of datiFiltrati; let i = index">
                        <tr>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <mat-checkbox [formControl]="checkboxFC[i]" [checked]="item.selected"
                                    (change)="checkedRow($event)" (ngModelChange)="checked()"
                                    [(ngModel)]="item.selected">
                                </mat-checkbox>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }"> {{item.id}} </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <ng-container *ngIf="onChangeRighe && item.selected; else mostraRigaTitle">
                                    <input type="text" [formControl]="titleFC[i]">
                                </ng-container>
                                <ng-template #mostraRigaTitle>
                                    {{ item.title }}
                                </ng-template>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <ng-container *ngIf="onChangeRighe && item.selected; else mostraRigaBody">
                                    <input type="text" [formControl]="bodyFC[i]">
                                </ng-container>
                                <ng-template #mostraRigaBody>
                                    {{ item.body }}
                                </ng-template>
                            </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }"> {{item.userId}} </td>
                            <td [ngClass]="{'cambioColore': getValoreToggle && (i+1) % 2 !== 0 }">
                                <mat-icon *ngIf="!onChangeRighe" matTooltip="Chiudi dettaglio" class="pointer" (click)="onOpenDettaglio(item)">
                                    search
                                </mat-icon>
                                <mat-icon *ngIf="!onChangeRighe" matTooltip="Chiudi dettaglio" class="pointer" (click)="chiudiDettaglio()">
                                    close
                                </mat-icon>
                                <span class="material-icons pointer" matTooltip="Salva modifiche" *ngIf="item.selected && onChangeRighe" (click)="onSaveRiga(item, i)"> arrow_forward </span>
                            </td>
                        </tr>
                        <div *ngIf="someChecked()" class="radio custom-color">
                            <mat-radio-group aria-label="Select an option">
                                <p>Vuoi modificare la riga selezionata?</p>
                                <mat-radio-button (change)="modificaRiga(true, i)" value="Si">Si</mat-radio-button>
                                <mat-radio-button (change)="modificaRiga(false, i)" value="No">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <tr *ngIf="showNuovaRiga">
                            <td> </td>
                            <td> <input type="text" [formControl]="titleFC[i]"></td>
                            <td> <input type="text" [formControl]="bodyFC[i]"></td>
                            <td> {{selectedUserId}} </td>
                            <td> </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="ml-20" *ngIf="showDettaglio">
                <app-dettaglio2910 (cambioValoreToggle)="cambioValoreToggle($event)"></app-dettaglio2910>
            </div>
        </div>
        <button class="button-standard mt-20" (click)="onInserireNuovaRiga()" *ngIf="!showNuovaRiga">Inserire nuova
            riga</button>
        <div class="ml-449">
            <button class="button-standard mt-10 mr-5" (click)="onAnnulla()" *ngIf="showNuovaRiga">Annulla</button>
            <!-- <button class="button-standard mt-10" (click)="onSalva(i)" *ngIf="showNuovaRiga">Salva</button> -->
        </div>
    </ng-template>
</div>