.dark-mode {
    background-color: #121212;
    color: white;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-50 {
    margin-top: 50px;  
}

.mr-5 {
    margin-right: 5px;
}

.d-flex {
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-25 {
    margin-right: 25px; 
}

.h-45 {
    height: 45px;
}

.mt-10 {
    margin-top: 10px;  
}

.ml-475 {
    margin-left: 475px;   
}

.ml-468 {
    margin-left: 468px;
}

.ml-562 {
    margin-left: 562px;
}

.ml-116 {
    margin-left: 116px;
}

.flex-direction-column {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.align-item {
    align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.justify-content-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.p-10 {
    padding: 10px;
}

.button-standard {
    background-color: #1b4d8b;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.button-standard:hover {
background-color: #163D6F;
}