.dark-mode {
    background-color: #121212;
    color: white;
}

.custom-color {
    color: #1b4d8b;
}

.custom-background {
    background-color: #163D6F;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.mr-5 {
    margin-right: 5px;
}

.d-flex {
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.mr-25 {
    margin-right: 25px;
}

.h-45 {
    height: 45px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-475 {
    margin-left: 475px;
}

.ml-468 {
    margin-left: 468px;
}

.ml-562 {
    margin-left: 562px;
}

.ml-200 {
    margin-left: 200px;
}

.ml-116 {
    margin-left: 116px;
}

.flex-direction-column {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.align-item {
    align-items: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.w-100 {
    width: 100%;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.a-i-c {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.min-w-50 {
    min-width: 50%;
}

//BOTTONI

.button-standard {
    background-color: #1b4d8b;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.button-standard:hover {
    background-color: #163D6F;
}

// TABELLE

.table-container {
    border: 2px #1b4d8b;
}

.custom-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

.custom-table thead {
    background-color: #1b4d8b;
    color: #ffffff;
}

.custom-table th,
.custom-table td {
    text-align: center;
    padding: 10px;
}

.custom-table tr:nth-child(even) {
    background-color: #f1f1f1;
}

.custom-table th {
    font-weight: bold;
}

.custom-table tbody tr:hover {
    background-color: #e0e8f5;
}

// CHIPS

.custom-chips {
    background-color: #dddddd;
    color: #ffffff;
    border-radius: 20px;
    padding: 0.5px 40px;
    border: #163D6F;
}

.custom-chips:hover {
    color: #1b4d8b;
}

// TITOLI

.custom-title {
    font-family: arial, sans-serif;
    color: #163D6F;
    font-weight: bold;
    font-size: 20px;
}

//DETTAGLIO

.custom-dettaglio {
    border: 2px solid #163D6F;
    padding: 20px;
}