.dark-mode {
    background-color: #121212;
    color: white;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.d-flex {
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.flex-direction-column {
    flex-direction: column;
}

.pointer {
    cursor: pointer;
}

.align-item {
    align-items: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
