h1 {
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 10px;
    border: 3px solid #ffffff;
    text-align: center;
}

div {
    margin-top: 200px;
}

::ng-deep body {
    background-color: #163D6F !important;
}